html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #0064d1;
    margin-bottom: 0;
    padding-bottom: 0;
    margin:0;
    padding:0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 100%;
}

#body {
    background-color: #efeeef;
    clear: both;
    padding-bottom: 35px;
}

    .main-content {
        padding-left: 10px;
        padding-top: 0px;
    }

    .featured + .main-content {
        background: url("../Images/heroAccent.png") no-repeat;
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    padding-top:3px;
    text-align:center;
    clear: both;
    color:#111;
    font-size: .8em;
    height: 100px;
background: rgb(32,124,202); /* Old browsers */
background: -moz-linear-gradient(top, rgba(32,124,202,1) 0%, rgba(125,185,232,1) 35%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,124,202,1)), color-stop(35%,rgba(125,185,232,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(125,185,232,1) 35%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(125,185,232,1) 35%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(32,124,202,1) 0%,rgba(125,185,232,1) 35%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(32,124,202,1) 0%,rgba(125,185,232,1) 35%,rgba(226,226,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}


/* site title
----------------------------------------------------------*/
.site-title {
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.8em;
    margin: 0 60px 15px 0;
    background-color:#0015ff;
    border-radius:10px 2px;
    padding:3px;
    position:relative;
    border:2px solid #7ac0da;
    float:left;

}

#site-title {
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.8em;
    margin: 0 10px 15px 0;
    background-color:#0015ff;
    border-radius:10px 2px;
    padding:3px;
    position:relative;
    border:2px solid #7ac0da;
    float:left;

}

.catchphrase
{
    display:inline;
    color:#999;
    width:350px;
    font-size:1.5em;
    line-height:2em;
    padding-top:3px;
    margin:4px 0 0 2%;
    font-weight:700;
}

.optimized
{
    display:inline;
    font-style:italic;
    color:#999;
}


#site-title a, .site-title a, .site-title a:hover, #site-title a:hover, #site-title a:active, .site-title a:active {
    background: none;
    text-decoration:none;
    color: #fff;
     text-shadow:
   -2px -2px 1px #7ac0da,  
    2px -2px 1px  #7ac0da,
    -2px 2px 1px  #7ac0da,
     2px 2px 1px   #7ac0da;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: 1.5em;
    margin: 0 0 10px 0;
    height:30px;
    width:auto;
    float:right;
    
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


 /*social links*/

#sociallinks
{
    display:inline;
    float:left;
    background:none;
    background-color:none;
    padding:0;
    text-align:right;
}

#sociallinks a
{
    display:inline;
    float:left;
    background:none;
    background-color:none;
    padding:0;
}

/* general menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }

/* personal urmenu
----------------------------------------------------------*/
#linebreak {
    height:10px;
    width:100%;
    margin: 0 auto 8px;
    padding: 0;
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 15%, #0a77d5 71%, #0b8bed 90%, #87bcea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(15%,#73b1e7), color-stop(71%,#0a77d5), color-stop(90%,#0b8bed), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 15%,#0a77d5 71%,#0b8bed 90%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d0e4f7 0%,#73b1e7 15%,#0a77d5 71%,#0b8bed 90%,#87bcea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d0e4f7 0%,#73b1e7 15%,#0a77d5 71%,#0b8bed 90%,#87bcea 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 15%,#0a77d5 71%,#0b8bed 90%,#87bcea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
}

    ul#urmenu li {
        display: inline;
        list-style: none;
        padding-left: 15px;

    }

        ul#urmenu li a {
            background: none;
            color: #333;
            text-decoration: none;
        }

        ul#urmenu li a:hover {
            color: #fff;
            text-decoration: none;
        }

/* page elements
----------------------------------------------------------*/
#homegallery
{
    width:960px;
    height:400px;
    margin:auto;
    display:block;
    border-left:2px solid #7ac0da;
    border-right:2px solid #7ac0da;
}

#rotatingpic
{
    float:left;
    width:500px;
    height:400px;
}

#gallerytext
{
    width:460px;
    float:left;
    height:400px;
}

#galleryp
{
    padding:40px 0 0 20px;
    width:90%;
    font-size:1.8em;
    color:#002b70;
}

.gallerynote
{
    display:block;
}

.gala
{
    display:block;
}

/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/*Home Screen Layout*/
#profilebar
{
    
    float:left;
    width:20%;
    height:100%;
    display:block;
    
}

#urinfo
{
    width:80%;
    height:100%;
    float:left;
    display:block
    
}

#urdaystats
{
    width:93%;
    height:300px;
}

.urinfogrid
{
    width:45%;
    height:100px;
    float:left;
    margin:0px 1% 5px 1%;
    border:1px solid #999;
    padding:2px;
    text-align:center;
    list-style-type:none;

}

#urchallengeul
{
    list-style-type:none;
}

    .urinfogrid h2
    {
        width:100%;
        background-color:#0092a7;
        color:#fff;
        text-align:center;
        
    }


#progressgraph
{
    width:100%;
    height:80%;
    margin:1px;
}
/*create challenges page*/
#challengemain
{
    width:500px;
    margin:auto;
}

#devicemain
{
    width:500px;
    margin:auto;
    height:400px;
}

.theading
{
    color:#0064d1;
    font-size:3em;
    width:5em;
}

#dtable
{
    margin:auto;
    display:block;
    width:450px;
    margin:auto;
}

.tdata
{
    font-size:2em;
}

    .tdata a
    {
        text-decoration:none;
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        width: auto;
        
    }

#newdevice
{
        text-decoration:none;
        font-size:3em;
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        width: 260px;
        margin:20px auto;
        display:block;
        text-align:center;

}


/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input
{
    width:auto;
    display:inline;
    margin:0 3px 0 5px;
}

textarea {
    border: 1px solid #333;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


/*slide show styles*/
